@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f8f9;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: visibility 0.3s;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ABABAB; 
  border-radius: 10px;
  visibility: hidden;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ABABAB; 
  border-radius: 10px;
  visibility: hidden;
}

.scroll:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::selection {
  background-color: #0074ffcc;
  color: #ffffff;
}

::-moz-selection {
  background-color: #0074ffcc;
  color: #ffffff;
}